/* Reset and basic styles */
/* ... */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  main {
    padding: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .deal-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  
  .deal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .deal-card p {
    font-size: 1.1rem;
  }

  .deal-card:hover {
    transform: scale(1.05); /* Scale up the card on hover */
  }
  
  .deal-card img {
    width: 88px;
    height: 88px;
    border-radius: 20%;
  }

  .deal-card-main {
    max-width: 800px;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .deal-card-main img {
    width: 128px;
    height: 128px;
    margin-bottom: 1rem;
    border-radius: 20%;
  }
  
  .deal-card-main h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .deal-card-main p {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  
  .referral-link {
    background-color: #4ea9ff;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .referral-link:hover {
    background-color: #4292dd;
  }

  @media (max-width: 768px) {
    .deal-grid {
      grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .deal-grid {
      grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns for even smaller screens */
    }
  }

  @media (max-width: 600px) {
    .deal-card img {
      width: 68px;
      height: 68px;
    }
  }
  
  @media (max-width: 375px) {
    .deal-card img {
      width: 48px;
      height: 48px;
    }
  }

  header input[type="text"] {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    width: 85%;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  header input[type="text"]::placeholder {
    color: #777777;
  }
  
  header input[type="text"]:focus {
    outline: none;
    border-color: #666;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }